doctype
html
  head
    title= title
    - if ( environment == "development" ) server = ''
    link(rel="stylesheet" href=server+"/assets/stylesheets/main.css")
    script(src=server+"/assets/scripts/jquery.min.js")
    script(src=server+"/assets/scripts/knockout-3.1.0.js")
    script(src=server+"/assets/scripts/bootstrap.min.js")
    script(src=server+"/assets/scripts/main.js")
  body
    != yield